h1 {
  text-align: center;
}
.squareLeft {
  height: 200px;
  width: 200px;
  border-right: 6px solid black;
  border-bottom: 6px solid black;
  margin: 0;
  float: left;
}
.squareMiddle {
  height: 200px;
  width: 200px;
  border-bottom: 6px solid black;
  margin: 0;
  float: left;
}
.squareRight {
  height: 200px;
  width: 200px;
  border-left: 6px solid black;
  border-bottom: 6px solid black;
  margin: 0;
  float: left;
}
.squareBottomLeft {
  height: 200px;
  width: 200px;
  border-right: 6px solid black;
  margin: 0;
  float: left;
}
.squareBottomMiddle {
  height: 200px;
  width: 200px;
  margin: 0;
  float: left;
}
.squareBottomRight {
  height: 200px;
  width: 200px;
  border-left: 6px solid black;
  margin: 0;
  float: left;
}
